.picWithText{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
@media (min-width: 1000px) {
    .picWithText {
        flex-direction: row;
    }
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 17px;
    margin: 0;
}