<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/article.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tomate</title>
    <script src="/plants/scripts/articles.js"></script>
  </head>

  <body>
    <h1>Tomate</h1>

    <% if(isFavourite) { %>
      <button class="hidden" id="addFavourite" onclick="addToFavourites('Tomate')">Add To Favourites!</button>
      <button id="removeFavourite" onclick="removeFromFavourites('Tomate')">Remove from Favourites!</button>
    <% } else { %>
      <button id="addFavourite" onclick="addToFavourites('Tomate')">Add To Favourites!</button>
      <button class="hidden" id="removeFavourite" onclick="removeFromFavourites('Tomate')">Remove from Favourites!</button>
    <% }%>

    <ul>
      <li><a href="#beschreibung">Beschreibung</a></li>
      <ul>
        <li><a href="#vegetative-merkmale">Vegetative Merkmale</a></li>
        <li><a href="#bluetenstand">Blütenstände und Blüten</a></li>
      </ul>
      <li><a href="#inhaltsstoffe">Inhaltsstoffe</a></li>
      <li><a href="#tomatenproduzenten">Größten Tomatenproduzenten</a></li>
    </ul>

    <div class="picWithText">
      <p>
        Die <b>Tomate</b> (Solanum lycopersicum), in Österreich sowie in Südtirol auch der
        Paradeiser bzw. die Paradeis (seltener Paradeisapfel) genannt, ist eine Pflanzenart aus der
        Familie der
        <a href="https://de.wikipedia.org/wiki/Nachtschattengew%C3%A4chse">Nachtschattengewächse</a>
        (Solanaceae).
      </p>
      <img src="/plants/tomate/tomate.jpg" height="200" width="350" />
    </div>
    <div>
      <h2 id="beschreibung">Beschreibung</h2>
      <h3 id="vegetative-merkmale">Vegetative Merkmale</h3>
      <p>
        Die Tomatenpflanze ist eine krautige, einjährige, zweijährige oder gelegentlich auch
        ausdauernde Pflanze, die zunächst aufrecht, später aber niederliegend und kriechend wächst.
        Die einzelnen Äste können dabei bis zu 4 m lang werden. Die Stängel haben an der Basis einen
        Durchmesser von 10 bis 14 mm, sie sind grün, fein behaart und zur Spitze hin meist filzig
        behaart. Die Behaarung besteht aus einfachen, einzelligen Trichomen, die bis zu 0,5 mm lang
        werden, sowie spärlich verteilten meist aus bis zu zehn Zellen bestehenden, mehrzelligen
        Trichomen mit bis zu 3 mm Länge. Vor allem die längeren Trichome besitzen oft drüsige
        Spitzen, die der Pflanze einen starken Geruch verleihen. Die sympodialen Einheiten besitzen
        meist drei Laubblätter, die Internodien sind 1 bis 6 cm lang, gelegentlich auch länger. Die
        Laubblätter sind unterbrochen unpaarig gefiedert, 20 bis 35 cm (selten nur 10 cm oder mehr
        als 35 cm) lang und 7 bis 10 cm (selten nur 3 cm oder mehr als 10 cm) breit. Sie sind
        beidseitig spärlich behaart, die Trichome gleichen denen der Stängel. Der Blattstiel ist 1,2
        bis 6 cm lang oder gelegentlich auch länger. Die Hauptteilblätter stehen in drei oder vier
        (selten auch fünf) Paaren. Sie sind eiförmig oder elliptisch geformt, die Basis ist schräg
        und zur Basis des Gesamtblattes hin herablaufend, abgeschnitten oder herzförmig. Die Ränder
        sind vor allem nahe der Basis gezahnt oder gekerbt, selten sind sie ganzrandig oder
        tiefgezähnt oder -gelappt. Die Spitze der Teilblätter ist spitz oder zugespitzt. Das oberste
        Teilblatt ist meist größer als die seitlichen Teilblätter, 3 bis 5 cm lang und 1,5 bis 3 cm
        breit. Das Stielchen ist 0,5 bis 1,5 cm lang. Die Spitze ist meist spitz zulaufend. Die
        seitlichen Teilblätter sind 2 bis 4,5 cm lang und 0,8 bis 2,5 cm breit, sie stehen an 0,3
        bis 2 cm langen Stielchen.
      </p>

      <h3 id="bluetenstand">Blütenstände und Blüten</h3>
      <div class="picWithText">
        <p>
          Die Blütenstände werden bis zu 10 cm lang, bestehen aus fünf bis fünfzehn Blüten und sind
          meistens ungeteilt oder selten in zwei Zweige gespalten. Der Blütenstandsstiel ist kürzer
          als 3 cm und ähnlich den Stängeln behaart. Die Blütenstiele sind 1 bis 1,2 cm lang, das
          äußere Drittel ist gelenkartig abgeteilt. Die Form des Blütenstandes ist ein Wickel. Die
          Knospen sind 0,5 bis 0,8 cm lang und 0,2 bis 0,3 cm breit und gerade konisch geformt. Vor
          dem Aufblühen steht die Krone etwa zur Hälfte aus dem Kelch hervor. Die Kelchröhre ist zur
          Blütezeit sehr fein und mit bis zu 0,5 cm langen Kelchlappen besetzt. Diese sind
          linealisch geformt, nach vorn zu spitz und mit langen und kurzen, einfachen, einreihigen
          Trichomen besetzt. Die leuchtend gelbe, fünfeckige Krone hat einen Durchmesser von 1 bis 2
          cm, oftmals ist sie gebändert und in einigen Kulturformen auch mit mehr als fünf Zipfeln
          besetzt. Die Kronröhre ist 0,2 bis 0,4 cm lang, die Kronzipfel sind 0,5 bis 2 cm lang, 0,3
          bis 0,5 cm breit, schmal lanzettlich geformt und an der Spitze und den Rändern spärlich
          mit verschlungenen, einreihigen Trichomen von bis zu 0,5 mm Länge besetzt. Zur Blütezeit
          sind die Kronlappen abstehend.
        </p>
        <img src="/plants/tomate/tomate_bluete.jpg" height="200" width="350" />
      </div>
    </div>

    <div>
      <h2 id="inhaltsstoffe">Inhaltsstoffe</h2>
      <p>
        Hauptbestandteil der Tomate ist Wasser (etwa 95 Prozent), außerdem enthält sie Vitamin A,
        B1, B2, C, E, Niacin, sekundäre Pflanzenstoffe sowie Mineralstoffe, besonders Kalium und
        Spurenelemente. So finden sich neben den genannten Vitaminen in der Tomate Biotin, Folsäure,
        Thiamin, Pantothensäure; Alpha- & Beta-Carotin, Kalium, Chlorogensäure, Citronensäure,
        Glykoalkaloide, Glykoproteine, Lignin, Lutein, Lycopin (nur in roten Tomaten), p-Cumarsäure,
        10 Spurenelemente (Chrom), vor allem Silizium; Tyramin, Zeaxanthin. Die Schale (Tomatenhaut)
        enthält neben Polysacchariden und Cutin unter anderem Kohlenwasserstoffe (Höhere Alkane wie
        n-Nonacosan, n-Triacontan und n-Hentriacontan), Fettsäuren (Palmitin-, Stearin-, Öl-, Linol-
        und Linolensäure) sowie Triterpene (α- und β-Amyrin) und Sterine (β-Sitosterin,
        Stigmasterin).[40] in der Tomatenhaut befinden sich besonders viele Wirkstoffe (Flavonoide).
      </p>

      <table border="1">
        <tr>
          <th>Nährwerte</th>
          <th>Werte pro 100g</th>
        </tr>
        <tr>
          <td>Energie (Kilokalorien)</td>
          <td>20 kcal</td>
        </tr>
        <tr>
          <td>Energie (Kilojoule)</td>
          <td>84 kJ</td>
        </tr>
        <tr>
          <td>Wasser</td>
          <td>95 g</td>
        </tr>
        <tr>
          <td>Fett</td>
          <td>300 mg</td>
        </tr>
        <tr>
          <td>Eiweiß (Protein)</td>
          <td>1000 mg</td>
        </tr>
        <tr>
          <td>Kohlenhydrate</td>
          <td>4000 mg</td>
        </tr>
        <tr>
          <td>Ballaststoffe</td>
          <td>1200 mg</td>
        </tr>
        <tr>
          <td>Zucker</td>
          <td>2600 mg</td>
        </tr>
      </table>
    </div>

    <div>
      <h2 id="tomatenproduzenten">Größten Tomatenproduzenten 2021</h2>
      <p>
        2021 wurden laut der Ernährungs- und Landwirtschaftsorganisation FAO weltweit 189.133.955 t
        Tomaten geerntet. Folgende Tabelle gibt eine Übersicht über die fünf größten Produzenten von
        Tomaten weltweit, die insgesamt 62% der Erntemenge produzierten.
      </p>
      <table border="1">
        <tr>
          <th>Land</th>
          <th>Menge (in t)</th>
        </tr>
        <tr>
          <td>China</td>
          <td>67.538.340</td>
        </tr>
        <tr>
          <td>Indien</td>
          <td>21.181.000</td>
        </tr>
        <tr>
          <td>Türkei</td>
          <td>13.095.258</td>
        </tr>
        <tr>
          <td>USA</td>
          <td>10.475.265</td>
        </tr>
        <tr>
          <td>Italien</td>
          <td>6.644.790</td>
        </tr>
      </table>
    </div>

    <div>
      <label>Name:</label>
      <input id="comment-name" type="text" />
      <label>Kommentar:</label>
      <textarea id="comment"></textarea>
      <button id="submit-btn" onclick="addComment('tomate')">Submit</button>
    </div>
    <div id="comment-section"></div>

    <% if(comments["tomate"] && comments["tomate"].length > 0) { %>
      <h2> Kommentare: </h2>
      <div class="articles">
        <% for(let i = 0; i < comments["tomate"].length; i++) { %>
          <p>
            <%= comments["tomate"][i].name %>:
            <%= comments["tomate"][i].comment %>
          </p>

        <% } %>
      </div>
    <% } %>

    <a href="/"> Back</a>
    <a href="https://de.wikipedia.org/wiki/Tomate">Quelle: Wikipedia</a>
  </body>
</html>
